<div class="container">
  <h2>Menu</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group">
        <% @sections.each do |section| %>
          <%= link_to section.name, menu_path(:section => section), class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <%= simple_form_for(:search, url: menu_path(:section => @section, :search => :search) , html: { class: 'form-horizontal', method: :get },
        wrapper: :horizontal_input_group
        ) do |f| %>
        <%= f.input :search, wrapper: :horizontal_input_group, label: false do %>
          <%= f.input_field :search, class: "form-control" %>
          <span class="input-group-btn">
            <%= button_tag(type: "submit", class: "btn btn-secondary") do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
  <br/>
<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <% @fooditems.each do |fooditem| %>
        <li class="list-group-item">
          <span class="label label-danger label-pill pull-right">
            <%= number_to_currency(fooditem.price, unit: "VND", precision:0, format: "%n %u") %>
          </span>
          <%= link_to menu_path(:section => fooditem.section, :fooditem => fooditem) do %>
            <div class="row">
                <%= image_tag(fooditem.img_url, class: "img-thumb img-rounded") %>
                <strong>
                  <%= fooditem.name %>
                </strong>
          </div>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div class="col-md-8">
    <% if @currentfooditem %>
    <div class="card food-detail">
      <div class="card-block">
          <%= link_to "Order Now", "/", class: "btn btn-danger pull-right" %>
          <div class="card-title">
            <h3>
              <strong><%= @currentfooditem.name if @currentfooditem %></strong>
            </h3>
          </div>
          <span>Price: <strong><%= number_to_currency(@currentfooditem.price, unit: "VND", precision:0, format: "%n %u") if @currentfooditem %> </strong> </span>
      </div>
      <%= image_tag(@currentfooditem.img_url, class: "img-responsive", alt: @currentfooditem.name)  if @currentfooditem %>
      <div class="card-block">
        <div class="card-text">
        <%= @currentfooditem.description if @currentfooditem %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h3>
    <span class="text text-danger">Out of Stock. </span>
    </h3>
<% end %>
</div>
</div>
