<!DOCTYPE html>
<html>
<head>
  <title>Ẩm Thực Việt Nam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless current_page?(root_path) %>
    <div id="main-nav" class="navbar navbar-inverisei bs-docs-nav fixed" role="banner">
      <div class="container">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
      <a class="navbar-brand" href="/"><i class="fa fa-home fa-lg"> </i></a>
        <ul class="nav navbar-nav main-nav-list responsive-nav pull-right">
          <li class="nav-item active">
          <a href="/menu"><i class="fa fa-list-ul fa-lg"></i></a>
          </li>
          <li class="nav-item">
          <a href="/contact"><i class="fa fa-envelope fa-lg"></i></a>
         </li>
        </ul>
      </div>
    </div>
  <% end %>
    <% if flash[:error] %>
       <%= flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-danger" %>
      <% end %>
    <% end %>
    <% if flash[:notice] %>
       <%= flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
    <% end %>


    <%= yield %>
  </div>

</body>
</html>
